$base-font-color	: 	#2c2c2c;
$home-bg-color		: 	#469671;
$white				: 	#ffffff;
$logo-blue			: 	#0D0E57;
// $logo-blue			: 	#1FBA9B;

$sea-green			: 	#1FBA9B;

$border-color		: 	#eeeeee;


// info
$done-green			: 	#2AB057;
$ongoing			: 	#3598DB;
$draft				: 	#FBC157;
$not-ready			: 	#CDCDCB;
$wired				: 	#E85858;