/**************************************************************
	Footer
***************************************************************/
footer{
	margin-top: 50px;
	color: $white;
	p{
		margin: 0;
	}
	.panel-footer {
		background-color: $logo-blue;
	}
}

/**************************************************************
	Page style start
***************************************************************/